/* styles for handbook/application/styles.scss */
._Handbook_12z0g0 {
  /* Resolve some conflicts between e-c-addon-docs/tailwind and osf-style */ }
  ._Handbook_12z0g0 .ad-no-underline {
    text-decoration: none; }
  ._Handbook_12z0g0 .docs-md__a,
  ._Handbook_12z0g0 .docs-md a.ember-view {
    text-decoration: none;
    border-bottom-width: 1px;
    border-color: #b8c2cc;
    color: inherit; }
    ._Handbook_12z0g0 .docs-md__a:hover, ._Handbook_12z0g0 .docs-md__a:focus,
    ._Handbook_12z0g0 .docs-md a.ember-view:hover,
    ._Handbook_12z0g0 .docs-md a.ember-view:focus {
      border-color: #8795a1; }

/* styles for handbook/docs/components/loading-indicator/demo-default/styles.scss */
._dark-background_yv7ayl {
  background-color: #666; }

/* styles for handbook/docs/components/loading-indicator/demo-inline-default/styles.scss */
._dark-background_xmbgs9 {
  background-color: #666;
  line-height: 50px; }

/* styles for handbook/docs/styles.scss */
._DocsPage_1pkxg6 pre {
  border: 0; }